html,
body {
    height: 100%;
    background-color: rgb(32,32,32);
    color: #fff;
}

p{
    font-size: 16px;
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 2% auto -60px;
    padding: 0 0 60px;

}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-inverse{
    background-color: rgba(0,0,0,0.9);
}

.navbar-brand{
    height: auto;
}
.navbar-brand > img{
    width: 100%;
    margin: 1%;
}

.navbar-header{
    max-width: 8%;
}

.navbar-right{
    padding: 1.1%;
}

.wrap .container{

}





.backgroundTeste{
    background: url("../images/background.gif") no-repeat fixed center;
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width : 100%;
    height: 100%;
}

.footer{
    background-color: rgba(0,0,0,0.9);
    border-top: 1px solid #333;
}


.site-index{
    position: relative !important;
}

.breadcrumb{
    background-color: rgba(0,0,0,0.9);
}

.userImage > img{
    border-radius: 50%;
    max-width: 60%;
    height: auto;
    max-height: 140px;
}

.centerThemBitches{
    text-align: center;
}
.centerThemBitches p{
    text-align: justify;
}

.getTheAppClass img{
    width: 10%;
    margin: 0% 5%;
}

.getTheAppClass{
    color: #fff;
    background-color: #111;
    border-color: #fff;
}

.getTheAppClass:hover{
    color: #fff;
    background-color: #222;
    border-color: #fff;
}

.getTheAppClass:focus{
    color: #fff;
    background-color: #222;
    border-color: #fff;
}

.width100{
    width: 100%;
}


.padding5{
    padding: 5%;
}

@media(max-width: 1199px){
    .padding5{
        padding: 1%;
    }
}



/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: #9d9d9d;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    padding-left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content > li {
    color: #9d9d9d;
    padding: 12px;
    display: block; 
    list-style-type: none;
    margin: 5px;
}


.dropbtn > a{
    color:#9d9d9d;
}

.dropbtn > a:hover{
    color:white;
}

.dropdown-content > li > a{
    color:#9d9d9d;
}

.dropdown-content > li > a:hover{
    color:white;
}

/* Change color of dropdown links on hover */
.dropdown-content > li:hover {background-color: black; color: white; cursor: pointer;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent; color: white;}

.textAlignCenter{ text-align: center; }

.userProfileCol{
    border-right: 1px solid black;
}
.marginTop2Percent{ margin-top: 2%; }

.marginBottom2Percent { margin-bottom: 2%; }

.textAlignRight{ text-align: right; }

.borderTopBlack{ border-top: 1px solid black; }

.userImageProfile > img { max-width: 60%; height: auto; max-height: 140px; }

.borderBottomBlack{ border-bottom: 1px solid black;  }

h2, .h2, h3, .h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.borderLeftBlack
{
    border-left: 1px solid black;
}
.borderRightBlack{
    border-right: 1px solid black;
}

button > a {
    color: #333;
}


button > a:hover {
    color: black;
}

a:hover {
    text-decoration: none;
}


a:focus {
    color: black;
    text-decoration: none;
}


.overflowThatBi{
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.Percent100{
    width: 100%;
}


.h1mf{
    margin-top: 20px;
    margin-bottom: 10px;
}

.formFieldTitle{
    width: 80%;
    float: left;
}


.formFieldTitle > div > label.control-label{
    display: none;
}

.formFieldButton{

}

.albumImage > img{
    width: 90%;
}
.albumCover > img{
    width: 50%;
}
.marginTop4percent{
    margin-top: 4%;
}
.colorRed{
    color:red;
}
.textSize{
   font-size: 10px;
}
.marginLeft{
    margin-left: 5%;
}
.displayNone{
    display: none;
}

.marginLeft2Percent{
    margin-left: 2%;
}

h2{
    color:#0099ff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active{
    color:#0099ff ;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.modal-title{
    color: black;
}

.modal-body{
    color: black;
}

.paymentmethod{
    padding: 1%;
    text-align: center;
}